<template>
  <div>
    <br />
    <h4 class="card-header stylish-color white-text text-center font-weight-bold text-uppercase py-4">Eliminar sitios turísticos</h4>
    <br />
    <mdb-input
      class="mt-2"
      v-model="search"
      label="Buscar Sitio"
      font-awesome-icon icon="search"
    />
    <router-link to="/menusite" class="fa fa-arrow-left" aria-hidden="true">Volver</router-link>
    <br/>
    <mdb-btn gradient="blue" rounded type="submit" flat @click="eliminarsitio">
      <span>Eliminar</span>
      </mdb-btn>
    <br />
    <mdb-datatable-2
      v-model="data"
      multiselectable @selected="selected = $event"
      :searching="{ value: search, field: 'nombresitio' }"
    />
  </div>
</template>
<script>
import { mdbDatatable2, mdbInput, mdbBtn } from 'mdbvue';
export default {
  search: '',
  selected: null,
  submitted: false,
  name: 'ConsultarSitio',
  components: {
    mdbDatatable2,
    mdbInput,
    mdbBtn
     
  },
  data() {
    return {
      search: '',
      submitted: false,
      data: {columns: [
          {
            label: 'id',
            field: 'id',
          },
          {
            label: 'Nombre',
            field: 'nombresitio',
          },
          {
            label: 'Capacidad',
            field: 'capacidad',
          },
          {
            label: 'Descripción',
            field: 'descripcion',
          }
        ],
        rows:[]
      },
    };
  },
  methods: {
    eliminarsitio () {
      alert('eliminar');
      this.message = '';
      this.submitted = true;
          this.$store.dispatch('auth/eliminarsitio').then(
            (data) => {
             data.payload.forEach(reg => {
               this.data.rows.push(reg)
             });
              console.log(JSON.stringify(this.data))
            },
            (error) => {
              this.message =
                (error.response &&
                  error.response.data &&
                  error.response.data.message) ||
                error.message ||
                error.toString();
              this.successful = false;
            }
          );
        }
    },
    methods: {
    handleConsulsite () {
      this.message = '';
      this.submitted = true;
          this.$store.dispatch('auth/consultarSitio').then(
            (data) => {
             data.payload.forEach(reg => {
               this.data.rows.push(reg)
             });
              console.log(JSON.stringify(this.data))
            },
            (error) => {
              this.message =
                (error.response &&
                  error.response.data &&
                  error.response.data.message) ||
                error.message ||
                error.toString();
              this.successful = false;
            }
          );
        }
    },
    created () {
this.handleConsulsite()
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
</style>