<template>
  <div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form name="form" @submit.prevent="handleReset">
        <label>Introduzca su usuario y la dirección de correo electrónico</label>
        <div class="form-group">
            <input
              v-model="user.user"
              placeholder="Usuario"
              v-validate="'required|min:3|max:20'"
              type="text"
              class="form-control"
              name="user"
            />
            <div
              v-if="submitted && errors.has('user')"
              class="alert-danger"
            >{{errors.first('user')}}
            </div>
          </div>
        <div class="form-group">
            <input
              v-model="user.correo"
              placeholder="tucorreo@ejemplo.com"
              v-validate="'required|email|max:50'"
              type="email"
              class="form-control"
              name="correo"
            />
            <div
              v-if="submitted && errors.has('correo')"
              class="alert-danger"
            >{{errors.first('correo')}}</div>
          </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" :disabled="loading">
            <span v-show="loading" class="spinner-border spinner-border-sm"></span>
            <span>Recuperar contraseña</span>
          </button>
        </div>
        <div class="form-group">
          <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import User from '../models/user';

export default {
  name: 'Email',
  data() {
    return {
      user: new User('', ''),
      loading: false,
      message: ''
    };
  },
  methods: {
    handleReset() {
      this.loading = true;
      this.$validator.validateAll().then(isValid => {
        if (!isValid) {
          this.loading = false;
          return;
        }
        if (this.user.user && this.user.correo) {
          this.$store.dispatch('auth/email', this.user).then(
            () => {
              this.$router.push('/home');
            },
            error => {
              this.loading = false;
              this.message =
                (error.response && error.response.data && error.response.data.message) ||
                error.message ||
                error.toString();
            }
          );
        }
      });
    }
  }
};
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>