<template>
  <v-container align-center justifu-center>
    <v-row class="text">
      <v-col cols="12"> </v-col>
      <v-col class="mb-2">
        <h1 center class="text-center"></h1>
      </v-col>
      <v-col class="mb-5" cols="8">
        <template>
          <v-container fluid>
           <center><img src="../assets/logo.png" alt=""></center>
          </v-container>
        </template>
        <h2 class="text-center">
          Agende su tour en la ciudad de Cali con los mejores guias
        </h2>
        <template>
          <v-container fluid>
            <img src="../assets/imagen.jpg" alt="" />
          </v-container>
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import UserService from '../services/user.service';

export default {
  name: 'Home',

  data: () => ({}),
};
</script>
