<template>
<div class="col-md-12">
 <center> 
<b-row class="m-t-5">
      <b-col cols="20" md="4">
        <b-card
          title="Actualizar informacion personal"
          img-src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          img-alt="Image"
          img-top>         
           <button class="btn btn-primary btn-block" :disabled="loading">
            <span v-show="loading" class="spinner-border spinner-border-sm"></span>
            <span>Actualizar informacion</span>
          </button>        
        </b-card>
           </b-col>
      <b-col cols="20" md="4">
      <b-card 
          title="Desactivar cuenta en TourCali"
          img-src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          img-alt="Image"
          img-top>
     
        <div class="form-group">
        <router-link to="/email">
          <button class="btn btn-primary btn-block" :disabled="loading">
            <span v-show="loading" class="spinner-border spinner-border-sm"></span>
            <span>Desactivar cuenta</span>
          </button>
        </router-link>
        </div>       
      </b-card>
      </b-col>
      <b-col cols="20" md="4">
        <b-card 
          title="Cambiar contraseña de usuario"
          img-src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          img-alt="Image"
          img-top>
        <div class="form-group">
          <router-link to="/email">
          <button class="btn btn-primary btn-block" :disabled="loading">
            <span v-show="loading" class="spinner-border spinner-border-sm"></span>
            <span>Cambiar contraseña</span>
          </button>
          </router-link>
        </div>
      </b-card>
      </b-col>
       </b-row>
 </center> 
  </div>
</template>


<script>
export default {
    name: 'Inactive' 
}

</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>