<template>
  <div class="mt-5">
    <h2 class="text-center">Bienvenido a TOURCALI</h2>
    <h2 class="text-center">Que desea hacer:</h2>
    <b-row class="m-t-5">
      <b-col cols="20" md="4">
        <b-card
          title="Sitios turisticos"
          img-src="https://www.livevalledelcauca.com/assets2018/images/cali/monumento-a-cristo-rey-4.jpg"
          img-alt="Image"
          img-top
        >
          <b-card-text> Conoce los sitios importantes de Cali </b-card-text>
          <router-link to="/registersite">
          <b-button href="#" to="/menusite" variant="primary">Ver sitios</b-button>
          </router-link>
        </b-card>
      </b-col>

      <b-col cols="20" md="4">
        <b-card
          title="Mis tours"
          img-src="https://cdn.colombia.com/images/turismo/sitios-turisticos/cali/cali3.jpg"
          img-alt="Image"
          img-top
        >
          <b-card-text> Revisa el historial de visitas </b-card-text>
          <b-button href="#" variant="primary">Ver sitios</b-button>
        </b-card>
      </b-col>

      <b-col cols="20" md="4">
        <b-card
          title="Guias turistico"
          img-src="https://www.elpais.com.co/files/article_main/uploads/2019/07/22/5d3619a1eae01.jpeg"
          img-alt="Image"
          img-top
        >
          <b-card-text> Conoce a nuestros guias especializados </b-card-text>
          <b-button href="#" variant="primary">Ver guias</b-button>
        </b-card>
      </b-col>

      <b-col cols="20" md="4">
        <b-card
          title="Mapa de Cali"
          img-src="https://i.pinimg.com/originals/83/36/00/833600942b5d3daa989593969a8b008a.jpg"
          img-alt="Image"
          img-top
        >
          <b-card-text> Ubicaté en la ciudad de Cali </b-card-text>
          <b-button href="#" variant="primary">Ver mapa</b-button>
        </b-card>
      </b-col>

      <b-col cols="20" md="4">
        <b-card
          title="Redes sociales"
          img-src="https://www.trecebits.com/wp-content/uploads/2020/06/Redes-sociales-desconocidas.jpg"
          img-alt="Image"
          img-top
        >
          <b-card-text>
            Conectaté con las redes sociales y comparte fotografias
          </b-card-text>
          <b-button href="#" variant="primary">Conectar redes sociales</b-button>
        </b-card>
      </b-col>

      <b-col cols="20" md="4">
        <b-card
          title="Administrar cuenta"
          img-src="https://d500.epimg.net/cincodias/imagenes/2017/05/05/fortunas/1494006279_447917_1494006467_noticia_normal.jpg"
          img-alt="Image"
          img-top
        >
          <b-card-text>
            Actualiza la informacion personal para conocer mas sobre ti o
            desactiva la cuenta
          </b-card-text>
          <router-link to="/inactive">
          <b-button href="#" to="/inactive" variant="primary">Actualizar informacion
          </b-button>
          </router-link>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>


<script>
export default {
  name: 'Menu',
};
</script>