<template>
  <div class="col-md-12">
    <mdb-container>
      <h4 class="card-header stylish-color white-text text-center font-weight-bold text-uppercase py-4">Información de sitios turísticos en TourCali</h4>
      </mdb-container><router-link to="/menu" class="fa fa-arrow-left" aria-hidden="true">Volver</router-link>
    <center>
      <b-row class="m-t-5">
        <b-col cols="20" md="4">
          <b-card
            title="Registrar sitios favoritos de la ciudad"
            img-src="https://variedadesdecolombia.com/wp-content/uploads/2017/02/Cristo-Rey-en-Cali.jpg"
            img-alt="Image"
            img-top
          >
            <div class="form-group">
              <router-link to="/registersite">
                <button class="btn btn-primary btn-block" :disabled="loading">
                  <span
                    v-show="loading"
                    class="spinner-border spinner-border-sm"
                  ></span>
                  <span>Registrar sitio</span>
                </button>
              </router-link>
            </div>
          </b-card>
        </b-col>

        <b-col cols="20" md="4">
          <b-card
            title="Consultar los sitios favoritos de la ciudad"
            img-src="https://elturismoencolombia.com/wp-content/uploads/2016/04/monumento_el_gato_rio_turismo_cali_colombia.jpg"
            img-alt="Image"
            img-top
          >
            <div class="form-group">
              <router-link to="/consultsite">
                <button class="btn btn-primary btn-block" :disabled="loading">
                  <span
                    v-show="loading"
                    class="spinner-border spinner-border-sm"
                  ></span>
                  <span>Consultar sitios</span>
                </button>
              </router-link>
            </div>
          </b-card>
        </b-col>

        <b-col cols="20" md="4">
          <b-card
            title="Eliminar sitios turisticos en Tourcali"
            img-src="https://www.livevalledelcauca.com/assets2018/images/cali/monumento-sebastian-de-belalcazar.jpg"
            img-alt="Image"
            img-top
          >
            <div class="form-group">
              <router-link to="/eliminar">
                <button class="btn btn-primary btn-block" :disabled="loading">
                  <span
                    v-show="loading"
                    class="spinner-border spinner-border-sm"
                  ></span>
                  <span>Eliminar sitio</span>
                </button>
              </router-link>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </center>
  </div>
</template>


<script>
export default {
  name: 'Inactive',
};
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>