<template>
  <div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form name="form" @submit.prevent="handleRegister">
        <div v-if="!successful">
          <div class="form-group">
            <input
              pattern="^[A-Za-z]+$"
              v-model="user.nombre"
              placeholder="Nombre"
              v-validate="'required|min:3|max:20'"
              type="text"
              class="form-control"
              name="nombre"
            />
            <div v-if="submitted && errors.has('nombre')" class="alert-danger">
              El campo nombre es obligatorio!
              <!-- {{ errors.first('nombre') }} -->
            </div>
          </div>
          <div class="form-group">
            <input
              pattern="^[A-Za-z]+$"
              v-model="user.apellido"
              placeholder="Apellido"
              v-validate="'required|min:3|max:20'"
              type="text"
              class="form-control"
              name="apellido"
            />
            <div
              v-if="submitted && errors.has('apellido')"
              class="alert-danger"
            >El campo apellido es obligatorio!
              <!-- {{ errors.first('apellido') }} -->
            </div>
          </div>
          <div class="form-group">
            <input
              v-model="user.correo"
              placeholder="Correo"
              v-validate="'required|email|max:50'"
              type="email"
              class="form-control"
              name="correo"
            />
            <div v-if="submitted && errors.has('correo')" class="alert-danger">
              El campo correo debe ser un correo electrónico válido!
              <!-- {{ errors.first('correo') }} -->
            </div>
          </div>
          <div class="form-group">
            <input
              v-model="user.user"
              placeholder="Usuario"
              v-validate="'required|min:3|max:20'"
              type="text"
              class="form-control"
              name="user"
            />
            <div v-if="submitted && errors.has('user')" class="alert-danger">
              El campo de usuario es obligatorio!
              <!-- {{ errors.first('user') }} -->
            </div>
          </div>
          <div class="form-group">
            <input
              v-model="user.password"
              placeholder="Password"
              v-validate="'required|min:6|max:40'"
              type="password"
              class="form-control"
              name="password"
            />
            <div
              v-if="submitted && errors.has('password')"
              class="alert-danger"
            >Se requiere el campo de contraseña!
              <!-- {{ errors.first('password') }} -->
            </div>
          </div>
          <div class="form-group">
            <b-form-select
              v-model="rol"
              :options="options"
            ></b-form-select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" :disabled="loading">
              <span
                v-show="loading"
                class="spinner-border spinner-border-sm"
              ></span>
              <span>Regístrate</span>
            </button>
          </div>
        </div>
      </form>
      <div
        v-if="message"
        class="alert"
        :class="successful ? 'alert-success' : 'alert-danger'"
      >
        {{ message }}
      </div>
    </div>
    <p class="text">
      <b>
        <br />
        Beneficios: <br
      /></b>
      Con Tourcali conoce sitios turisticos de la ciudad de Cali capital mundial
      de la salsa, excelente gastronomía y cultura. es un sitio agradable por su
      clima,<br />
      se puede visitar Cali en cualquier temporada del año, ofrecemos personas
      especializadas en turismo con transporte, te aseguramos conocer toda
      nuestra ciudad
    </p>
  </div>
</template>

<script>
import User from '../models/user';

export default {
  name: 'Register',
  data() {
    return {
      user: new User(),
      submitted: false,
      successful: false,
      message: '',
      rol: null,
      options: [
        { value: null, text: 'Seleccione una opción' },
        { value: 'turista', text: 'Turista' },
        { value: 'guia', text: 'Guía' },
      ],
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push('/register');
    }
  },
  methods: {
    handleRegister() {
      this.message = '';
      this.submitted = true;
      this.user.rol = this.rol
      this.$validator.validate().then((isValid) => {
        if (isValid) {
          this.$store.dispatch('auth/register', this.user).then(
            () => {
              this.$router.push('/');
            },
            (error) => {
              this.message =
                (error.response &&
                  error.response.data &&
                  error.response.data.message) ||
                error.message ||
                error.toString();
              this.successful = false;
            }
          );
        }
      });
    },
  },
};
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>