<template>
  <div class="col-md-12">
    <div class="card card-container">
      <h2 class="text-center">Registrar un sitio turístico</h2>
      <form name="form" @submit.prevent="handleRegistersite">
        <div v-if="!successful">
          <div class="form-group">
            <input
              v-model="sitio.nombresitio"
              placeholder="Nombre del sitio"
              v-validate="'required|min:3|max:20'"
              type="text"
              class="form-control"
              name="nombresitio"
            />
            <div
              v-if="submitted && errors.has('nombresitio')"
              class="alert-danger"
            >
            El campo nombre es obligatorio!
              <!-- {{ errors.first('nombresitio') }} -->
            </div>
          </div>
          <div class="form-group">
            <input
              v-model="sitio.capacidad"
              placeholder="Capacidad"
              v-validate="'required|min:1|max:2000'"
              type="number"
              class="form-control"
              name="capacidad"
              min="1"
            />
            <div
              v-if="submitted && errors.has('capacidad')"
              class="alert-danger"
            >
            El campo capacidad es obligatorio!
              <!-- {{ errors.first('capacidad') }} -->
            </div>
          </div>
          <div class="form-group">
            <input
              v-model="sitio.descripcion"
              placeholder="Descripcion"
              v-validate="'required|min:3|max:50'"
              type="text"
              class="form-control"
              name="descripcion"
            />
            <div
              v-if="submitted && errors.has('descripcion')"
              class="alert-danger"
            >
            El campo descripción es obligatorio!
              <!-- {{ errors.first('descripcion') }} -->
            </div>
          </div>

          <center>
            <div class="form-group">
              <button
                class="btn btn-primary btn-block"
                :loading="loading"
                :disabled="loading"
              >
                <span
                  v-show="loading"
                  class="spinner-border spinner-border-sm"
                ></span>
                <span>Registrar</span>
              </button>
            </div>
          </center>
        </div>
      </form>

      <div
        v-if="message"
        class="alert"
        :class="successful ? 'alert-success' : 'alert-danger'"
      >
        {{ message }}
      </div>
    </div>
  </div>
</template>

<script>
import Sitios from '../models/sitios';

export default {
  name: 'Registersite',
  data() {
    return {
      sitio: new Sitios('', '', ''),
      submitted: false,
      successful: false,
      message: '',
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push('/registersite');
    }
  },
  methods: {
    handleRegistersite() {
      this.message = '';
      this.submitted = true;
      this.$validator.validate().then((isValid) => {
        if (isValid) {
          this.$store.dispatch('auth/registersite', this.sitio).then(
            () => {
              this.$router.push('/menusite');
            },
            (error) => {
              this.message =
                (error.response &&
                  error.response.data &&
                  error.response.data.message) ||
                error.message ||
                error.toString();
              this.successful = false;
            }
          );
        }
      });
    },
  },
};
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>